#ignore datasets and test folders
data/
analysis*/
ismir2022/
test/
out/
quadrants/
log/


#ignore python files
__pycache__
*.pyc

#ignore venv files
venv/
Miniconda*
sb/

#ignore misc
fonts/
.cache
.cache*
core.*
*.code-workspace
