#ignore datasets and test folders
data/
analysis/
quadrants/
ismir-test/
graph-results/
deezer-analysis/

#ignore python files
__pycache__
*.pyc

#ignore venv files
venv/
Miniconda*
sb/

#ignore misc
fonts/
.cache-*
core.*
*.code-workspace
