#ignore graph results
graph-results/

#ignore datasets
data/
analysis/

#ignore python files
__pycache__
*.pyc

#ignore venv files
venv/
Miniconda*

#ignore misc
.cache-soundbendor
fonts/
