<!doctype html>
<head>
    <title>Productivity Playlist</title>
</head>
<body>
    <h1>Productivity Playlist</h1>
    
    {% if graph %}
        <img src={{graph}} style="width:500px;height:500px;" />
    {% else %}
        <p>No image provided.</p>
    {% endif %}

    <form action="/playlist">
        <br><label for="song_orig">Origin:</label><br>
        <select name="song_orig" id="song_orig">
            {% if orig %}
                <option value={{orig.id}}> ({{orig.valence}}, {{orig.arousal}}) {{orig.artist}} - {{orig.title}}</option>
            {% else %}
                <option value="" selected> Choose a song</option>
            {% endif %}

            {% for song in song_arr %}
                {% if (not orig) or (song.id != orig.id) %}
                    <option value={{song.id}}> ({{song.valence}}, {{song.arousal}}) {{song.artist}} - {{song.title}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <br><label for="song_dest">Destination:</label><br>      
        <select name="song_dest" id="song_dest">
            {% if dest %}
                <option value={{dest.id}}> ({{dest.valence}}, {{dest.arousal}}) {{dest.artist}} - {{dest.title}}</option>
            {% else %}
                <option value="" selected> Choose a song</option>
            {% endif %}
            
            {% for song in song_arr %}
                {% if (not dest) or (song.id != dest.id) %}
                    <option value={{song.id}}> ({{song.valence}}, {{song.arousal}}) {{song.artist}} - {{song.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
        
        <br><label for="n_songs">Number of Songs: </label><br>
        <input type="number" id="n_songs" name="n_songs" value={{n}} min="2" max="20">

        <input type="submit" value="Submit">
    </form>

    {% if list_graph %}
        <img src={{list_graph}} style="width:500px;height:500px;" />
    {% else %}
        <p>No graph.</p>
    {% endif %}
    
    {% if list_arr %}
        <ol>
            {% for song in list_arr %}
                <li> ({{song.valence}}, {{song.arousal}}) {{song.artist}} - {{song.title}}</il>
            {% endfor %}
        </ol>
    {% else %}
        <p>No playlist made.</p>
    {% endif %}
</body>
